# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
altur_challenge_fe/node_modules
altur_challenge_fe/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
altur_challenge_fe/coverage

# next.js
altur_challenge_fe/.next/
altur_challenge_fe/out/

# production
altur_challenge_fe/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
